<!DOCTYPE html>
<html>
   <body>
        <div id="wrapper" class="clearfix">
            <!-- 左カラム　開始 -->
            <div id="leftColumn">
                <hr class=straghtline>
                <h3>撮影データ送信</h3>
                <hr class=dotline>
                
                <h4><%= @request.date %></h4>
                <p><%= @request.name %></p>
                
                <%= form_tag("/requests/#{@request.id}/upload", {multipart: true}) do %>
                    <% 10.times do |num| %>
                        <%= "#{num+1}" %>枚目<input type = "file" name = "pic<%= "#{num+1}" %>">
                    <% end %>
                
                    <input class="button_signup" type="submit" value="送信">
                <% end %>
                
                <br>
                
                
                
            </div>
            <!-- 左カラム　終了 -->
        
            <!-- 右カラム　開始 -->
            <div id="rightColumn">
                右ナビエリア
            </div>
            <!-- 右カラム　終了 -->
        </div>
      
      
      
      
  </body>